package {{.Pkg}}.controller;

import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

@RestController
@RequestMapping("/api/{{.NameLower}}")
public class {{.Name}}Controller {

    @GetMapping
    public String index() {
        return "ok";
    }
}
