version: '3.8'

services:
  app:
    build: .
    ports:
      - "{{.Port}}:8080"
    environment:
{{- if eq .DB "postgres"}}
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/appdb
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
{{- else if eq .DB "mysql"}}
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/appdb
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
{{- end}}
    depends_on:
      - db

  db:
{{- if eq .DB "postgres"}}
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=appdb
    ports:
      - "5432:5432"
{{- else if eq .DB "mysql"}}
    image: mysql:8
    environment:
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=appdb
      - MYSQL_ROOT_PASSWORD=rootpassword
    ports:
      - "3306:3306"
{{- end}}
    volumes:
      - db-data:/var/lib/{{if eq .DB "postgres"}}postgresql/data{{else}}mysql{{end}}

volumes:
  db-data:
