package {{.Pkg}}.entity;

{{range .Imports}}import {{.}};
{{end}}
{{if .Auditing}}@EntityListeners(AuditingEntityListener.class)
{{end}}@Entity
{{- if .Lombok}}
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
{{- end}}
public class {{.Name}} {
    @Id
{{- if .UUID}}
    @GeneratedValue(strategy = GenerationType.UUID)
    private java.util.UUID id;
{{- else}}
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;
{{- end}}
{{- if .Auditing}}

    // Auditing fields
    @CreatedDate
    private java.time.Instant createdAt;

    @LastModifiedDate
    private java.time.Instant updatedAt;
{{- end}}
{{- range .Fields}}

    private {{.Type}} {{.Name}};
{{- end}}
{{- if not .Lombok}}
{{- if .UUID}}
    public java.util.UUID getId() {
        return id;
    }

    public void setId(java.util.UUID id) {
        this.id = id;
    }
{{- else}}
    public Long getId() {
        return id;
    }

    public void setId(Long id) {
        this.id = id;
    }
{{- end}}
{{- range .Fields}}

    public {{.Type}} get{{.Cap}}() {
        return {{.Name}};
    }

    public void set{{.Cap}}({{.Type}} {{.Name}}) {
        this.{{.Name}} = {{.Name}};
    }
{{- end}}
{{- end}}
}
